@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 80px;
}

a {
    color: #333;
    text-decoration: none;
}

body {
    background-color: #f2f2f2;
    font-family: "Jost", sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: #FFF;
    padding: 0px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    display: flex;
    gap: 40px;
}

main {
    display: flex;
    flex-direction: column;
}

#search-fipe {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-image: url("../img/estrada_background.webp");
    background-size:cover; 
    background-position: center;
}

#search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 8px;
    height: 100%;
    width: 50%;
}

#search-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#vehicle-type {
    width: fit-content;
    border: none;
}

#search-box select {
    padding: 10px 20px; 
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #333;
    width: 200px;
    height: 50px;
}

#search-box button {
    background-color: #333;
    color: #FFF;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
}

#search-box button:hover {
    background-color: #444;
}

/* Favorites */
#favorites {
    margin-top: 10rem;
    width: 50%;
    align-self: center;
    text-align: center;
}

#favorites h2 {
    margin-bottom: 2rem;
    font-size: 24px;
    color: #333;
}

#favorites-container {
    display: flex;
    justify-content: space-between;
}

.favorite-box {
    width: 15%;
    height: 180px;
    border: 1px solid #444;
    border-radius: 8px;
    display: flex;
    align-items: end;
}

.title-box {
    width: 100%;
    height: fit-content;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-car {
    font-size: 14px;
    font-weight: normal;
}