@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

button {
    font-family: "Jost", sans-serif;
}

body {
    background-color: #f2f2f2;
    font-family: "Jost", sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: #FFF;
    padding: 0px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    height: 80px;
}

.navbar-links {
    display: flex;
    gap: 40px;
}

.main {
    display: flex;
    flex-direction: column;
}

#search-fipe {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-image: url("../img/estrada_background.webp");
    background-size:cover; 
    background-position: center;
}

#search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 8px;
    height: 100%;
    width: 50%;
}

#search-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#vehicle-type {
    width: fit-content;
    border: none;
}

#search-box select {
    padding: 10px 20px; 
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #333;
    width: 200px;
    height: 50px;
}

#search-box button {
    background-color: #333;
    color: #FFF;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
}

#search-box button:hover {
    background-color: #444;
}

/* Favorites */
#favorites {
    margin-top: 6rem;
    width: 50%;
    align-self: center;
    text-align: center;
}

#favorites h2 {
    margin-bottom: 2rem;
    font-size: 18px;
    color: #333;
}

#favorites-container {
    display: flex;
    justify-content: space-between;
}

.favorite-box {
    width: 15%;
    height: 180px;
    background-color: #ececec;
    border: 1px solid #444;
    border-radius: 8px;
    display: flex;
    align-items: end;
}

.title-box {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 8px;
    height: fit-content;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-car {
    font-size: 14px;
    font-weight: normal;
}



/* login.html */
.banner-section {
    height: 150px;
    background-image: url("../img/banner.png");
}
        
.login-card {
    margin: 0 auto;
    margin-top: -70px;
    width: 25%;
    padding: 40px;
    background-color: #FFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-input {
    width: 100%;
    padding: 10px 20px;
    height: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.btn-primary {
    width: 100%;
    height: 50px;
    background-color: #ec7000;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    opacity: .9;
}

.login-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #dbdbdb;
}

.btn-secondary {
    width: 50%;
    height: 50px;
    background-color: #f3a35c;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #f18c33;
}



/* recentes.html */
.container {
    width: 66%;
    margin: 2rem auto;
    display: flex;
}

.recentes {
    flex: 2 1 0;
}

.query-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.query-box {
    height: 100px;
    border-radius: 8px;     
    background-color: #FFF;
    display: flex;
    text-align: center;
}

.vehicle {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price {
    font-size: 26px;
    font-weight: bold;
    color: #ec7000
}

.pages {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.previous,
.next {
    border-radius: 50px;
    border: 1px solid #333;
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s;
}

.previous:hover,
.next:hover {
    background-color: #f1a96a;
}

.menu {
    margin-top: 3rem;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remove-all-box {
    width: fit-content;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
}

.remove-all-box:hover {
    background-color: #dddcdc;
}
